<div class="paragraphs">
  <app-title title="3. Poly-alfabetisch substitutiecijfer"></app-title>
  <div class="paragraphs-content">
    In deze sectie gaat u eerst een tekst analyseren die vercijferd is met een Vigenèrecijfer. Het doel is wederom om de sleutel en de klare tekst te achterhalen. In het tweede deel van deze sectie bekijkt u een simulatie van de Enigma, een codeermachine op basis van poly-alfabetische substitutie die in de tweede wereldoorlog werd gebruikt.
  </div>
  <app-tabs prevPar="/paragraphs/par2" nextPar="/paragraphs/par31"></app-tabs>
</div>


