<div class="popup">
  <div class="popup-content">   
    <a href="paragraphs/par2" class="popup-close">
      <i class="bi bi-x-square" fill="currentColor" ></i>
    </a>
    <h1>Correlatie tussen twee verdelingsfuncties</h1>
    <p>De correlatie tussen de frequentieverdeling &lcub;x<sub>1</sub>, …, x<sub>26</sub>&rcub; van letters in de cijfertekst</p>
    <p>en de frequentieverdeling &lcub;y<sub>1</sub>, …, y<sub>26</sub>&rcub; van letters in de referentietekst wordt uitgedrukt
    </p>
    <p> in de correlatiecoëfficiënt r:</p>
    <br>
    <img src= "assets/images/le5_correlatie.png" width="30%"
       alt="correlatie" class="correlatie" >
    <br>
    <br>
    <p>De waarde van r varieert tussen -1 en +1, waarbij +1 een perfecte correlatie representeert.</p>
    <p>De correlatiecoëfficiënt wordt berekend voor elke verschuiving van de cijfertekst.</p>
    <p>Het histogram dat de correlatie toont, toont de correlatiecoëfficiënten voor de </p>
    <p>26 mogelijke verschuivingen.</p>
  </div>
</div>
