<div class="intro ">
  
    <h1 class="intro-primary-main"> 
      Leereenheid 5	Practicum elementary cryptography
    </h1>
    <h2 class="intro-primary-sub ">Introductie</h2>
  
    <p class="intro-textbox ">Deze leereenheid biedt een practicum waarin de cryptosystemen en hun toepassingen uit leereenheid 3 en 4 worden geïllustreerd. Eerst bekijken we de softwaretool CrypTool die u in dit practicum gaat gebruiken. Vervolgens gaat u daarmee opgaven uitvoeren over symmetrische cijfers (Caesarcijfer, poly-alfabetisch substitutiecijfers, AES), asymmetrische cijfers (RSA), het gebruik van een digitale handtekening en het Diffie-Hellmanprotocol.</p>
    <p class="intro-textbox intro-primary">De studielast van deze leereenheid bedraagt circa 4 uur.</p>
  
  <app-tabs nextPar = "/paragraphs/par0"></app-tabs>
</div>
   
