<div class="paragraphs">
  <app-title title="1. Software"></app-title>
  <div class="paragraphs-content">
    <p>In dit practicum maken we gebruik van de open-source tool CrypTool,</p>
    <p>meer specifiek: CrypTool 1, English version, latest version. </p>
    <p>U kunt deze versie downloaden van: 
      <a href="https://www.cryptool.org/en/ct1/downloads" target="_blank" > 
        https://www.cryptool.org/en/ct1/downloads
      </a>.
    </p>
    <br>
    <p class="order">Start Cryptool 1 op</p>
    <p class="order">Sluit venster 'How to Start' (basale informatie).</p>
    <p class="order">Sluit venster 'startingexample- en.</p>
    <p class="order">Open een nieuw, leeg bestand via menu 'File' > 'New' 'invoerbestand').</p>
    <br>
    <p>Het invoerbestand wordt gebruikt bij het uitvoeren van de opgaven om de klare tekst of cijfertekst in te plaatsen.</p>
  </div>
  <app-tabs nextPar="/paragraphs/par2" prevPar="/paragraphs/par0"></app-tabs>
</div>

