<div class="sidebar">
  <ul class="sidebar_ul">          
    <li *ngFor="let item of paragraphs" class=""sidebar-content>
      <span *ngIf = "currentlink == item.link">
        <a class="sidebar_active" 
           routerLink={{item.link}} 
           (click)="routeChange(item.link)">
           {{item.title}}
        </a> 
      </span>
      <span *ngIf = "currentlink != item.link">
        <a class="sidebar_inactive" 
           routerLink={{item.link}} 
           (click)="routeChange(item.link)">
           {{item.title}}
        </a> 
      </span>   
    </li>     
  </ul>
</div>
