<div class="paragraphs">
<app-title title="Algemene richtlijnen"></app-title>
<div class="paragraphs-content">
    <p>Actiestappen worden aangegeven met 
        <span style="color:blue">&#x2299;</span>
    </p>
    <p class="order">Dit is een actiestap</p>
    <br>
    
    <p>Waarschuwingen en aanvullende informatie wordt aangegeven met 
        <span style="color:red">&excl;&excl; </span>
    </p>
    <p class="warning">	Dit is een waarschuwing</p>
    <br>
    
    <p>Een link naar extra informatie wordt aangegeven met  
        <app-info-tag></app-info-tag>   
    </p>
    
    <p>
        <app-info-tag></app-info-tag>
        Hier wordt extra informatie gegeven</p>
    <br>

    <p>Belangrijk</p>
    <p class="lijst">Lees de informatie die in de diverse panels verschijnt</p>
    <p class="lijst">Sluit aan het begin van een nieuwe opgave alle vensters.</p>
    <p class="lijst">Start ieder nieuwe opgave met een leeg invoerbestand.</p>
    <p class="lijst">Verwijder invoerbestanden van vorige opdrachten.</p>   
    <p class="lijst" style="font-weight:bold">Vergeet niet te scrollen op de volgende pagina's.</p>   
</div>
<app-tabs prevPar="/intro" nextPar="/paragraphs/par1"></app-tabs>
</div>


